
.one
{
	position:absolute;
	background-image: url("../../pic/github.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

#bush1
{
	position:absolute;
	width: 354px;
	height: 298px;
	background-image: url("../../pic/github.svg");
}
