
#bird
{
	position:absolute;
	width: 297px;
	height: 281px;
	background-image: url("../../pic/github.svg");
}

#bush1
{
	position:absolute;
	width: 354px;
	height: 298px;
	background-image: url("../../pic/github.svg");
}
